examples/*
!examples/js/
test/
utils/
docs/
editor/
.DS_Store
build/*
!build/three.min.js
.github
files/
node_modules/
src/
.gitignore
.editorconfig
.gitattributes
.travis.yml
icon.png
rollup.config.js
rollup-examples.config.js
